* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin-bottom: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre footer */
}

.navbar {
    background-color: #f8f9fa;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #bbff00;
}

.nav-button {
    background-color: #f6ff00;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #00b35a;
}


.footer-content {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #45a1ff;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;  /* Ajout pour s'assurer que le footer reste au-dessus des autres éléments */
}